<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWP8" version="2.8.0.3" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp80" />
  <package id="HereLaunchers" version="1.2" targetFramework="wp80" />
  <package id="SharpGIS.GZipWebClient" version="1.4.0.0" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>